<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<div class="checkout-container">

    <!-- restaurant info -->
    <div class="bg-white">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8">
            <h1>Payment summary</h1>
            <p><u>Status:</u> <span class="badge badge-payment"><%= @order.state %></span></small></h1>
            <p><u>Issued on:</u> <%= @order.created_at.to_date.strftime("%d/%m/%Y")  %></p>
            <p><u>Product:</u> <%= @order.product.name %></p>
            <p><u>Number of items:</u> <%= @order.quantity %></p>
            <p><u>Total paid:</u> <%= humanized_money_with_symbol @order.amount_cents %></p>
          </div>
          <div class="col-md-4">
            <%= cl_image_tag @order.product.pictures[0].photo, width: '300' %></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- restaurant menu / checkout-->
    <div class="container py-3" id="checkout-font">
      <div class="row">
        <div class="col-md-8">
          <!-- make a card -->
          <div class="card p-3 mb-3">
            <h1>Please give us your details for delivery of shirts:</h1>
          </div>
            <div class="delivery-form">
              <%= simple_form_for [@order, @delivery] do |f| %>
              <%= f.error_notification %>

                <div class="form-inputs" id="delivery-form">
                <%= f.input :first_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "first_name" } %>
                <%= f.input :last_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "last_name" } %>
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%#= f.input :street,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%#= f.input :house_number,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%#= f.input :city,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%#= f.input :post_code,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%#= f.input :country, placeholder: "Germany",
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                </div>

                <div class="form-actions button-centered">
                  <%= f.button :submit, "Submit your info", class: "btn btn-flat wj-150" %>
                </div>
              </br>
              </br>
              </br>
              <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
