<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<div class="order-container">
  <div class="show-container">
      <div class="product-show">
            <%= image_tag @order.product.photo %>
          <div class="product-info">
            <h1>Order <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date.strftime("%d/%m/%Y")  %></li>
        <li><strong>PRODUCT</strong> <%= @order.product.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount_cents %></li>
        </li>
      </ul>
    </br>
    </br>
    </br>
      <h1>Please give us your delivery details:</h1>
      </div>
    </div>`
  </div>
</div>

<%= render template: "deliveries/new" %>


