<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<div class="show-container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.product.photo, width: '100%' %></div>
    <div class="col">
      <h1>Order <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date.strftime("%d/%m/%Y")  %></li>
        <li><strong>PRODUCT</strong> <%= @order.product.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p>Thank you <strong>so much</strong> for your support!</p>
    </div>
  </div>
</div>

<%= render "shared/order_form" %>
