<h2 class="admin">Admin dashboard</h2>
<%= link_to "Add new product", new_product_path %>
<div class="orders">
  <table>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>Product name</th>
      <th>Buyer's name</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Color</th>
      <th>E-Mail</th>
      <th>Address</th>
      <th>Price</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%B %e at %l:%M %p') %></td>
        <td><%= order.state.capitalize %></td>
        <td><%= order.product.name %></td>
        <td>
          <span><%= order.user.first_name %></span>
          <span><%= order.user.last_name %></span>
        </td>
        <td><%= order.quantity %></td>
        <td><%= order.size.present? ? order.size : "n/a" %></td>
        <td><%= order.product.color.present? ? order.product.color: "n/a" %></td>
        <td><%= order.user.email %></td>
        <td>
          <span><%= find_delivery(order.user.email, :street) %></span>
          <span><%= find_delivery(order.user.email, :house_number) %>,</span>
          <span><%= find_delivery(order.user.email, :city) %></span>
          <span><%= find_delivery(order.user.email, :post_code) %>,</span>
          <span><%= find_delivery(order.user.email, :country) %></span>
        </td>
        <td><%= order.amount_cents / 100 %>€</td>
      </tr>
  <% end %>
  </table>
</div>
