<%= render 'shared/navbar' %>

<div class="home-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        <!-- <h1>Jungbusch 030</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p> -->
        <a href="#sign-up" class="btn btn-flat">Notify me!</a>
      </div>
    </div>
  </div>
</div>

<div class="container-home">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8">
      <div class="outer-wrapper">
        <div class="wrapper">
          <div class="slide one"></div>
            <div class="slide-content">
              <h2>WHERE THE PINK LIGHT IS</h2>
              <p>
                <%= 'JUNGBUSCH BERLIN takes a temporarily closure due to COVID-19 restrictions as a moment to create something new during the rough times the world is facing now.' %>
              </br>
              </br>
                <%= 'Everyone has to make compromises, the loss of certain perks regarding the activities in the free time is what we have to face these days along with many more changes.' %>
              </br>
              </br>
                <%= 'The only way to do the best out of the situation is to continue and stay positive. And that what we did in the past weeks @ JUNGBUSCH NULL DREI NULL.' %>
              </p>
              <h3>→</h3>
            </div>
          <div class="slide two"></div>
            <div class="slide-content">
              <h2>JB030 GOES ONLINE!</h2>
              <p>
                <%= 'We wanted to share something new with you – our regulars and cocktail lovers, both friends and opponents – a LIMITED JUNGBUSCH GEAR to be close by heart and close by your bodies.' %>
              </br>
              </br>
                <%= 'We designed two styles of T-SHIRTS – for all genders. You can pre-order and pass-order. We will be produce the T-shirts locally.' %>
              </br>
              </br>
                <strong><%= '- Orders will be taken until May 15th 2020. ' %></strong>
              </br>
                <strong><%= '- We will start delivering by end of May 2020.' %></strong>
              </br>
              </br>
                <%= 'On top we will come up with an additional concept to quench the thirst. Stay tune, follow us at insta and Facebbok. We definitely miss you as hell and we appreciate your support. Above all take care and stay healthy till we get back to real life.' %>
              </p>
              <h3>→</h3>
            </div>
          <div class="slide three"></div>
            <div class="slide-content" id="sign-up">
              <h2>LOVE, JB030</h2><h3>↓</h3>
              <h1>Help us keep the pink light on!</h1>
              <%= render "subscribers/subscribeform" %>
              <%= render 'shared/footer' %>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
