<%= render 'shared/navbar' %>

<div class="home-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        <h1>Jungbusch 030</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p>
        <a href="#newsletter-section" class="btn btn-primary">Get notified!</a>
      </div>
    </div>
  </div>
</div>

<div class="container-home">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
    </br>
      <h2>JB030 SAYS HI</h2>
    </br>
      <p>
        <%= 'Jungbusch Bar Neukölln – where the pink light is – takes the temporarily closure due to COVID 19 restrictions as a moment to create a new way of being a bar during the rough times the world is facing right now.' %>
      </p>
      <p>
        <%= 'Everyone has to make compromises, the loss of a certain lifestyle regarding the activities in the free time – especially by night – is what we have to face these days (next to many more changes, of course). ' %>
      </p>
      <p>
        <%= 'The only way to do the best out of this situation is to continue and to stay positive – and thats what we did the past weeks! To share – instead of good drinks – something else with Berlin, with our regulars, with our dear friends and cocktail lovers, we created LIMITED JUNGBUSCH GEAR to be at least close by heart (better to say: close by your bodies).' %>
      </p>
      <p>
        <%= 'For all our deeply loved Jungbusch lovers we designed two styles of T-SHIRTS – for all genders – you can pre-order until the 15th of May 2020. The shirts will be limited so don’t miss to place your order until its too late.' %>
      </p>
      </br>
      <hr class ="new-line">
      </br>
      <p>
        <%= 'At our JUNGBUSCH MARKET you can pre-order and pass your order – as we will produce the T-shirts locally they will be send out end of May 2020 to you. Next to the JUNGBUSCH LINE we decided to be there for you regarding drinks as well.' %>
      </p>
      <p>v
        <%= 'From now on you can have drinks TO TAKE AWAY. Safety first is our biggest headline. Thats why all orders have to be passed on this website at ORDER UR DRINK and be paid via Paypal. Like this we avoid a lot of risks and we try to flatten the curve while we offer you pleasures.' %>
      </p>
      </br>
      <hr class ="new-line">
      </br>
      <p>
        <%= 'There will be theme weeks and only 3 theme cocktails available each night. Cocktails will be packed separately and sterilely and be ready to be picked up where the pink light is. But what would be drinks only without the atmosphere of Jungbusch? Each person who orders a drink' %>
      </p>
      <p>
        <%= '(or a few) gets a CODE to have access to the Jungbusch Stream where we share videos with you and teach you the “HOW TO COCKTAIL ABC” and tell you everything about your drink as we can’t do it face to face. Last but not least: we miss you!' %>
      </p>
      </br>

      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>
