<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<!-- turn this into an alert (warning) -->
<div class="alert alert-warning" role="alert" id="checkout-font">
  For all International inquiries please contact<strong> hello@jungbusch030.com</strong>.
</div>


<div class="checkout-container">

    <!-- restaurant info -->
    <div class="bg-white">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8">
            <h1>Checkout summary</h1>
            <p><u>You requested:</u> <%= @order.product.name %></p>
            <p><u>Size:</u> <%= @order.size %></p>
            <p><u>Number of items:</u> <%= @order.quantity %></p>
            <p><u>Total to be paid:</u> <%= @order.quantity %> x <%= @order.product.price_cents / 100 %> = <%= humanized_money_with_symbol @order.amount_cents %></p>
          </div>
          <div class="col-md-4">
            <%= cl_image_tag @order.product.pictures[0].photo, width: '300' %></div>
          </div>
        </div>
      </div>
    </div>

    <!-- restaurant menu / checkout-->
    <div class="container py-3" id="checkout-font">
      <div class="row">
        <div class="col-md-8">
          <!-- make a card -->
          <div class="card p-3 mb-3">
            <h1>Delivery</h1>
            <p><%= @order.product.delivery %></p>
          </div>
          <div class="card p-3 mb-3">
            <h1>Important:</h1>
            <p><%= @order.product.note %></p>
          </div>

          <!-- /menu -->
        </div>

        <div class="col-md-4">
          <!-- checkout -->
          <div class="bg-white border p-3 sticky-top" id="pay-container">
            <div class="d-flex justify-content-between mt-3">
              <p>Subtotal </p>
              <p><%= humanized_money_with_symbol @order.amount_cents %></p>
            </div>

            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p>Delivery </p>
              <p>€ 0</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <p>Total (VAT included) </p>
              <strong><p><%= humanized_money_with_symbol @order.amount_cents %></p></strong>
            </div>

            <button id="pay" class="btn btn-flat w-100">Pay</button>
              <script src="https://js.stripe.com/v3/"></script>
              <script>
                const paymentButton = document.getElementById('pay');
                paymentButton.addEventListener('click', () => {
                const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                stripe.redirectToCheckout({
                sessionId: '<%= @order.checkout_session_id %>'
                  });
                });
              </script>
          </div>
          <!-- /checkout -->
        </div>
      </div>
    </div>
</div>
