<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

</br>

<div class="class new-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h2>Publish/Update a Product</h2>
        <h3>
          <%= simple_form_for @product do |f| %>
            <%= f.input :sku %>
            <%= f.input :images, as: :file, input_html: { multiple: true} %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price_cents, label: 'Price' %>
            <%= f.input :size %>
            <%= f.input :color %>
            <%= f.input :fabric %>
            <%= f.input :delivery %>
            <%= f.input :note %>
            <%= f.button :submit, class: 'btn btn-publish' %>
        <% end %>
        </h3>
      </div>
    </div>
  </div>
</div>
