<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<h1>JB030 Shirts</h1>

<div class="index-container">
  <div class="product-cards">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="card-trip">
          <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2> <%= product.name %></h2>
                <p> <%= product.description %></p>
              </div>
              <h2 class="card-trip-pricing"><h2><%= humanized_money_with_symbol(product.price) %></h2>
              <%#= cl_image_tag product.user.photo.key, class: "card-trip-user avatar-bordered" %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
