<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<div class="show-product-container">
  <div class="show-container">
      <div class="product-show">
          <% if @product.photo.attached? %>
            <%= cl_image_tag @product.photo.key %>
          <% else %>
            <h1>No image to show</h1>
          <% end %>
          <div class="product-info">
            <h1><%= @product.name %></h1>
            <p><%= @product.description %></p>
            <h4><%= @product.color %></h4>
            <h4><%= @product.fabric %></h4>
            <h4><%= @product.size %></h4>
      </div>
    </div>`
  </div>
</div>

<div class="listing-show-container">
  <div class="booking-container">

    <div class="product-price">
      <div class="d-flex">
        <h2 id="product-price"><%= @product.price %></h2><h2 class="experience-euro">€</h2>
      </div>
        <p>(total price)</p>
    </div>


          <%= form_tag orders_path do %>
          <%= hidden_field_tag 'product_id', @product.id %>

          <span id="quantity-field">

            <button type="button" id="down" onclick="setQuantity('down');setPrice();">-</button>

            <input value="1", id="quantity" name="quantity" size="16" onkeyup="setPrice();">

            <button type="button" id="up" onclick="setQuantity('up');setPrice();">+</button>

          </span>

              <%= submit_tag 'Purchase', class: 'btn btn-flat' %>

          <% end %>

  </div>
</div>


<script>
    function setQuantity(upordown) {
    var quantity = document.getElementById('quantity');

    if (quantity.value > 1) {
        if (upordown == 'up'){++document.getElementById('quantity').value;}
        else if (upordown == 'down'){--document.getElementById('quantity').value;}}
    else if (quantity.value == 1) {
        if (upordown == 'up'){++document.getElementById('quantity').value;}}
    else
        {document.getElementById('quantity').value=1;}
}
</script>

<script>
  const startPrice = parseInt(document.getElementById('product-price').innerHTML)
  const setPrice = () => {
    let amount = document.getElementById('quantity').value;
    if (amount == "") {
      document.getElementById('product-price').innerHTML = 0
    } else {
    amount = parseInt(document.getElementById('quantity').value)
    let newPrice = startPrice * amount;
    document.getElementById('product-price').innerHTML = newPrice;
    console.log(amount)
      }
  }
</script>


<%= render 'shared/footer' %>
