<h1><%= @product.title %> <%= @product.price %> EUR</h1>
<p><%= @product.description %></p>
<% if @product.photo.attached? %>
  <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'Back', products_path %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Add a new review', new_product_review_path(@product) %>

<% @product.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  <%= link_to 'Delete', review_path(reviews), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
