<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<%#= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="newshow-container">

    <!-- restaurant info -->
    <div class="bg-white">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8" id="product-size">
            <% @product.pictures.each do |picture| %>
            <%= cl_image_tag(picture.photo) %>
            <% end %>
          </div>
          <div class="col-md-4">
            <h1><%= @product.name %></h1>
            </br>
            <h4><%= @product.color %></h4>
            <h4><%= @product.fabric %></h4>
            <h4><%= @product.size %></h4>
          </br>
          </br>
            <%= image_tag "ep-logo.png", width: '70' %>
            <%= image_tag "fair-logo.png", width: '120'%>
            <%= image_tag "peta-logo.jpg", width: '120' %>
          </div>
        </div>
      </div>
    </div>

    <!-- restaurant menu / checkout-->
    <div class="container py-3" id="checkout-font">
      <div class="row">
        <div class="col-md-8">
          <!-- make a card -->
          <div class="card p-3 mb-3">
            <h1>Product Details</h1>
            <p><%= @product.description %></p>
          </div>
        </div>

        <div class="col-md-4">
          <!-- checkout -->
          <div class="bg-white border p-3 sticky-top">
            <div class="d-flex justify-content-between mt-3">
              <p>Total Price</p>
              <h2 id="euro">€</h2>
              <div class="product-price">
                  <h2 id="product-price"><%= @product.price %></h2>
              </div>
                <%= form_tag orders_path do %> <%= hidden_field_tag 'product_id', @product.id %>
          </div>

          <% if @product.size.empty? %>
              <p></p>
          <% else %>
            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p>Size </p>
              <p><select name="size" required>
                    <option value="">Select size</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="2XL">2XL</option>
                    <option value="3XL">3XL</option>
                    <option value="Voucher">Voucher</option>
              </select></p>
            </div>
            <% end %>

            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p>Quantity </p>
              <p><span id="quantity-field">
                  <button type="button" id="down" onclick="setQuantity('down');setPrice();">-</button>
                  <input value="1", id="quantity" name="quantity" size="10" onkeyup="setPrice();">
                  <button type="button" id="up" onclick="setQuantity('up');setPrice();">+</button>
                </span></p>
            </div>

            <%= submit_tag 'Purchase', class: 'btn btn-flat w-100' %>
          <% end %>

          </div>
          <!-- /checkout -->
        </div>
      </div>
    </div>
</div>

<script>
    function setQuantity(upordown) {
    var quantity = document.getElementById('quantity');

    if (quantity.value > 1) {
        if (upordown == 'up'){++document.getElementById('quantity').value;}
        else if (upordown == 'down'){--document.getElementById('quantity').value;}}
    else if (quantity.value == 1) {
        if (upordown == 'up'){++document.getElementById('quantity').value;}}
    else
        {document.getElementById('quantity').value=1;}
}
</script>

<script>
  const startPrice = parseInt(document.getElementById('product-price').innerHTML)
  const setPrice = () => {
    let amount = document.getElementById('quantity').value;
    if (amount == "") {
      document.getElementById('product-price').innerHTML = 0
    } else {
    amount = parseInt(document.getElementById('quantity').value)
    let newPrice = startPrice * amount;
    document.getElementById('product-price').innerHTML = newPrice;
    console.log(amount)
      }
  }
</script>

