<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

</br>
</br>
</br>

<div class="class new-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1>Publish/Update a voucher</h1>
          <%= simple_form_for @voucher do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price_cents, label: 'Price' %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
